::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff3e8;
  border-radius: 3.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff3e8;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'open sans', sans-serif;
  background-image: url("../img/backkk.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #fff3e8;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  height: 16vh;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 999;
}

nav {
  margin: 0;
  padding: 0;
  height: 30vh;
  width: 100%;
  color: #000;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff3e8), to(transparent));
  background: linear-gradient(to bottom, #fff3e8, transparent);
}

nav #menu {
  margin: 0;
  margin-left: 50px;
  padding-top: 50px;
  width: 100%;
  list-style: none;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-left: 0;
}

nav #menu .marca {
  text-align: left;
}

nav #menu .marca h1 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 2em;
  color: #000;
  text-align: center;
}

nav #menu li {
  width: 120px;
  display: inline-block;
  color: #000;
  font-size: 1em;
}

nav #menu li:hover {
  top: 10px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container-fluid {
  margin: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin-top: 700px;
  padding-right: 0;
  padding-left: 0;
}

.first {
  margin: 0;
  margin-top: 40%;
  width: 100%;
}

section {
  margin: 0;
  width: 100%;
}

.second {
  background-color: #fff3e8;
}

.third {
  padding-top: 10rem;
  padding-left: 10rem;
  background-color: #fff3e8;
  height: 100vh;
}

.cajaObrasss {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #fff3e8;
}

.cajaObra {
  margin: 0;
  display: inline-block;
  height: 500px;
  height: auto;
}

.cajaObra img {
  width: 80%;
  -webkit-transition: .5s;
  transition: .5s;
}

.cajaObra img:hover {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.cajaObra .etiquetaObra {
  color: #000;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.cajaObra .etiquetaObra .nombreObra {
  font-weight: 100;
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 0;
  margin-left: 2rem;
  font-family: 'open sans';
  line-height: 1.2;
}

.cajaObra .etiquetaObra .nombreObra span {
  text-align: left;
  margin-top: 0;
  font-weight: 100;
  font-style: italic;
  font-family: "praho";
  font-size: 1.5rem;
  text-align: left;
}

.nombreCategoria {
  background-color: #fff3e8;
}

.nombreCategoria h2 {
  margin: 0;
  padding-bottom: 1rem;
  padding-top: 3rem;
  padding-left: 3rem;
  font-weight: 300;
  font-style: italic;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff3e8), to(transparent));
  background: linear-gradient(to bottom, #fff3e8, transparent);
  font-size: 1.5em;
  width: 80%;
}

.inputBox {
  width: 500px;
  height: 30px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  margin: 10px;
  display: block;
  background-color: #e7e7e7;
  color: #fff;
}

.boton {
  height: 50px;
  width: 300px;
  font-size: 1.5em;
  background-color: #bebebe;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'open sans', sans-serif;
  font-weight: 400;
}

.boton:hover {
  background-color: black;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

h4 {
  margin: 0;
  padding-top: 30px;
  color: #fff3e8;
  font-weight: 400;
}

h5 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  margin-bottom: 2rem;
  font-family: 'open sans', sans-serif;
  font-weight: 300;
}

h6 {
  margin: 0;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5em;
  margin-left: 20rem;
}

.producto {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff3e8;
}

.producto li {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 500px;
}

.gridServicios {
  width: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  -ms-grid-rows: auto 700px;
      grid-template-rows: auto 700px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff3e8;
  padding-top: 160px;
      grid-template-areas: "titulo titulo" "imagen texto";
}

.gridServicios .titleServicios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
  width: 100%;
  text-align: left;
  margin-left: 5%;
}

.gridServicios .titleServicios h3 {
  margin: 0;
  padding-bottom: 50px;
  padding-top: 30px;
  font-weight: 300;
  font-style: italic;
  font-size: 2.5em;
}

.gridServicios .textContainer {
  margin-left: 5%;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: texto;
}

.gridServicios .textContainer p {
  margin: 0;
}

.gridServicios .imgDetalle {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagen;
}

.gridServicios .imgDetalle img {
  width: 100%;
}

.fotoProducto {
  margin: 0 auto;
  padding: 0;
  width: 45%;
  display: inline;
}

.fotoProducto img {
  width: 100%;
}

.nombreProducto {
  margin: 0 auto;
  padding: 0;
  width: 45%;
  background-color: #fff3e8;
  display: inline;
  position: absolute;
}

footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: black;
}

form {
  width: 100%;
}

.form-label {
  font-size: 1em;
  font-family: 'open sans', sans-serif;
  font-weight: 100;
  color: gray;
}

.form-control {
  width: 100%;
}

.btn-primary {
  background-color: #4eaafa;
}

@media screen and (max-width: 600px) {
  nav #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: center;
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav #menu li {
    width: 100%;
    height: 5vh;
  }
  .cajaObra {
    width: 100%;
  }
  .grid {
    height: auto;
    -ms-grid-rows: (5% 45%)[2];
        grid-template-rows: repeat(2, 5% 45%);
  }
  .gridServicios {
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "titulo titulo" "imagen imagen" "texto texto";
  }
  .gridServicios .imgDetalle {
    margin-bottom: 3rem;
  }
  .cajaObrasss {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nombreCategoria {
    font-size: .7em;
  }
}
/*# sourceMappingURL=lupaStyle.css.map */